{
  "info" : {
    "contact" : {
      "url" : "https://github.com/Ouranosinc/Magpie",
      "name" : "Francis Charette-Migneault",
      "email" : "francis.charette-migneault@crim.ca"
    },
    "description" : "Magpie is a service for AuthN and AuthZ based on Ziggurat-Foundations",
    "version" : "0.7.3",
    "title" : "Magpie REST API"
  },
  "servers" : [ {
    "url" : "https://colibri.crim.ca/magpie"
  }, {
    "url" : "https://pluvier.crim.ca"
  }, {
    "url" : "https://hirondelle.crim.ca"
  }, {
    "url" : "https://outarde.crim.ca"
  } ],
  "schemes" : [ "https" ],
  "tags" : [ {
    "name" : "API"
  }, {
    "name" : "User"
  }, {
    "name" : "Logged User"
  }, {
    "name" : "Group"
  }, {
    "name" : "Resource"
  }, {
    "name" : "Service"
  }, {
    "name" : "Login"
  } ],
  "basePath" : "/magpie",
  "openapi" : "3.0.0",
  "securityDefinitions" : {
    "cookieAuth" : {
      "type" : "apiKey",
      "name" : "auth_tkt",
      "in" : "cookie"
    }
  },
  "paths" : {
    "/groups/{group_name}/resources" : {
      "parameters" : [ {
        "required" : true,
        "type" : "string",
        "name" : "group_name",
        "in" : "path"
      } ],
      "get" : {
        "produces" : [ "application/json" ],
        "security" : [ {
          "cookieAuth" : [ ]
        } ],
        "tags" : [ "Group" ],
        "responses" : {
          "200" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Get group resources successful.",
            "schema" : {
              "required" : [ "code", "type", "detail", "resources" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "resources" : {
                  "required" : [ "geoserver-api", "ncwms", "thredds" ],
                  "type" : "object",
                  "properties" : {
                    "geoserver-api" : {
                      "required" : [ "geoserver-api" ],
                      "type" : "object",
                      "properties" : {
                        "geoserver-api" : {
                          "required" : [ "resource_id", "permission_names", "service_name", "service_type", "service_sync_type", "public_url", "service_url", "resources" ],
                          "type" : "object",
                          "properties" : {
                            "service_sync_type" : {
                              "title" : "Service Sync Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of resource synchronization implementation."
                            },
                            "resource_id" : {
                              "type" : "integer",
                              "description" : "Resource identification number",
                              "title" : "Resource Id"
                            },
                            "permission_names" : {
                              "items" : {
                                "title" : "Permission Name",
                                "type" : "string",
                                "example" : "read",
                                "description" : "Permissions applicable to the service/resource"
                              },
                              "type" : "array",
                              "example" : [ "read", "write" ],
                              "title" : "Permission Names"
                            },
                            "service_name" : {
                              "title" : "Service Name",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Name of the service"
                            },
                            "public_url" : {
                              "title" : "Public Url",
                              "type" : "string",
                              "example" : "http://localhost/twitcher/ows/proxy/thredds",
                              "description" : "Proxy URL available for public access with permissions"
                            },
                            "service_url" : {
                              "title" : "Service Url",
                              "type" : "string",
                              "example" : "http://localhost:9999/thredds",
                              "description" : "Private URL of the service (restricted access)"
                            },
                            "service_type" : {
                              "title" : "Service Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of the service"
                            },
                            "resources" : {
                              "required" : [ "{resource_id}" ],
                              "type" : "object",
                              "properties" : {
                                "{resource_id}" : {
                                  "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                  "type" : "object",
                                  "properties" : {
                                    "resource_name" : {
                                      "title" : "Resource Name",
                                      "type" : "string",
                                      "example" : "thredds",
                                      "description" : "Name of the resource"
                                    },
                                    "resource_display_name" : {
                                      "title" : "Resource Display Name",
                                      "type" : "string",
                                      "example" : "Birdhouse Thredds Data Server",
                                      "description" : "Display name of the resource"
                                    },
                                    "resource_id" : {
                                      "type" : "integer",
                                      "description" : "Resource identification number",
                                      "title" : "Resource Id"
                                    },
                                    "permission_names" : {
                                      "items" : {
                                        "title" : "Permission Name",
                                        "type" : "string",
                                        "example" : "read",
                                        "description" : "Permissions applicable to the service/resource"
                                      },
                                      "type" : "array",
                                      "example" : [ "read", "write" ],
                                      "title" : "Permission Names"
                                    },
                                    "parent_id" : {
                                      "type" : "integer",
                                      "description" : "Parent resource identification number",
                                      "title" : "Parent Id"
                                    },
                                    "root_service_id" : {
                                      "type" : "integer",
                                      "description" : "Resource tree root service identification number",
                                      "title" : "Root Service Id"
                                    },
                                    "children" : {
                                      "required" : [ "{resource_id}" ],
                                      "type" : "object",
                                      "properties" : {
                                        "{resource_id}" : {
                                          "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                          "type" : "object",
                                          "properties" : {
                                            "resource_name" : {
                                              "title" : "Resource Name",
                                              "type" : "string",
                                              "example" : "thredds",
                                              "description" : "Name of the resource"
                                            },
                                            "resource_display_name" : {
                                              "title" : "Resource Display Name",
                                              "type" : "string",
                                              "example" : "Birdhouse Thredds Data Server",
                                              "description" : "Display name of the resource"
                                            },
                                            "resource_id" : {
                                              "type" : "integer",
                                              "description" : "Resource identification number",
                                              "title" : "Resource Id"
                                            },
                                            "permission_names" : {
                                              "items" : {
                                                "title" : "Permission Name",
                                                "type" : "string",
                                                "example" : "read",
                                                "description" : "Permissions applicable to the service/resource"
                                              },
                                              "type" : "array",
                                              "example" : [ "read", "write" ],
                                              "title" : "Permission Names"
                                            },
                                            "parent_id" : {
                                              "type" : "integer",
                                              "description" : "Parent resource identification number",
                                              "title" : "Parent Id"
                                            },
                                            "root_service_id" : {
                                              "type" : "integer",
                                              "description" : "Resource tree root service identification number",
                                              "title" : "Root Service Id"
                                            },
                                            "children" : {
                                              "default" : { },
                                              "type" : "object",
                                              "title" : "Children"
                                            },
                                            "resource_type" : {
                                              "title" : "Resource Type",
                                              "type" : "string",
                                              "example" : "service",
                                              "description" : "Type of the resource"
                                            }
                                          },
                                          "title" : "Id"
                                        }
                                      },
                                      "title" : "Children"
                                    },
                                    "resource_type" : {
                                      "title" : "Resource Type",
                                      "type" : "string",
                                      "example" : "service",
                                      "description" : "Type of the resource"
                                    }
                                  },
                                  "title" : "Id"
                                }
                              },
                              "title" : "Resources"
                            }
                          },
                          "title" : "Geoserver Api"
                        }
                      },
                      "title" : "Geoserver Api"
                    },
                    "thredds" : {
                      "required" : [ "thredds" ],
                      "type" : "object",
                      "properties" : {
                        "thredds" : {
                          "required" : [ "resource_id", "permission_names", "service_name", "service_type", "service_sync_type", "public_url", "service_url", "resources" ],
                          "type" : "object",
                          "properties" : {
                            "service_sync_type" : {
                              "title" : "Service Sync Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of resource synchronization implementation."
                            },
                            "resource_id" : {
                              "type" : "integer",
                              "description" : "Resource identification number",
                              "title" : "Resource Id"
                            },
                            "permission_names" : {
                              "items" : {
                                "title" : "Permission Name",
                                "type" : "string",
                                "example" : "read",
                                "description" : "Permissions applicable to the service/resource"
                              },
                              "type" : "array",
                              "example" : [ "read", "write" ],
                              "title" : "Permission Names"
                            },
                            "service_name" : {
                              "title" : "Service Name",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Name of the service"
                            },
                            "public_url" : {
                              "title" : "Public Url",
                              "type" : "string",
                              "example" : "http://localhost/twitcher/ows/proxy/thredds",
                              "description" : "Proxy URL available for public access with permissions"
                            },
                            "service_url" : {
                              "title" : "Service Url",
                              "type" : "string",
                              "example" : "http://localhost:9999/thredds",
                              "description" : "Private URL of the service (restricted access)"
                            },
                            "service_type" : {
                              "title" : "Service Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of the service"
                            },
                            "resources" : {
                              "required" : [ "{resource_id}" ],
                              "type" : "object",
                              "properties" : {
                                "{resource_id}" : {
                                  "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                  "type" : "object",
                                  "properties" : {
                                    "resource_name" : {
                                      "title" : "Resource Name",
                                      "type" : "string",
                                      "example" : "thredds",
                                      "description" : "Name of the resource"
                                    },
                                    "resource_display_name" : {
                                      "title" : "Resource Display Name",
                                      "type" : "string",
                                      "example" : "Birdhouse Thredds Data Server",
                                      "description" : "Display name of the resource"
                                    },
                                    "resource_id" : {
                                      "type" : "integer",
                                      "description" : "Resource identification number",
                                      "title" : "Resource Id"
                                    },
                                    "permission_names" : {
                                      "items" : {
                                        "title" : "Permission Name",
                                        "type" : "string",
                                        "example" : "read",
                                        "description" : "Permissions applicable to the service/resource"
                                      },
                                      "type" : "array",
                                      "example" : [ "read", "write" ],
                                      "title" : "Permission Names"
                                    },
                                    "parent_id" : {
                                      "type" : "integer",
                                      "description" : "Parent resource identification number",
                                      "title" : "Parent Id"
                                    },
                                    "root_service_id" : {
                                      "type" : "integer",
                                      "description" : "Resource tree root service identification number",
                                      "title" : "Root Service Id"
                                    },
                                    "children" : {
                                      "required" : [ "{resource_id}" ],
                                      "type" : "object",
                                      "properties" : {
                                        "{resource_id}" : {
                                          "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                          "type" : "object",
                                          "properties" : {
                                            "resource_name" : {
                                              "title" : "Resource Name",
                                              "type" : "string",
                                              "example" : "thredds",
                                              "description" : "Name of the resource"
                                            },
                                            "resource_display_name" : {
                                              "title" : "Resource Display Name",
                                              "type" : "string",
                                              "example" : "Birdhouse Thredds Data Server",
                                              "description" : "Display name of the resource"
                                            },
                                            "resource_id" : {
                                              "type" : "integer",
                                              "description" : "Resource identification number",
                                              "title" : "Resource Id"
                                            },
                                            "permission_names" : {
                                              "items" : {
                                                "title" : "Permission Name",
                                                "type" : "string",
                                                "example" : "read",
                                                "description" : "Permissions applicable to the service/resource"
                                              },
                                              "type" : "array",
                                              "example" : [ "read", "write" ],
                                              "title" : "Permission Names"
                                            },
                                            "parent_id" : {
                                              "type" : "integer",
                                              "description" : "Parent resource identification number",
                                              "title" : "Parent Id"
                                            },
                                            "root_service_id" : {
                                              "type" : "integer",
                                              "description" : "Resource tree root service identification number",
                                              "title" : "Root Service Id"
                                            },
                                            "children" : {
                                              "default" : { },
                                              "type" : "object",
                                              "title" : "Children"
                                            },
                                            "resource_type" : {
                                              "title" : "Resource Type",
                                              "type" : "string",
                                              "example" : "service",
                                              "description" : "Type of the resource"
                                            }
                                          },
                                          "title" : "Id"
                                        }
                                      },
                                      "title" : "Children"
                                    },
                                    "resource_type" : {
                                      "title" : "Resource Type",
                                      "type" : "string",
                                      "example" : "service",
                                      "description" : "Type of the resource"
                                    }
                                  },
                                  "title" : "Id"
                                }
                              },
                              "title" : "Resources"
                            }
                          },
                          "title" : "Thredds"
                        }
                      },
                      "title" : "Thredds"
                    },
                    "ncwms" : {
                      "required" : [ "ncwms" ],
                      "type" : "object",
                      "properties" : {
                        "ncwms" : {
                          "required" : [ "resource_id", "permission_names", "service_name", "service_type", "service_sync_type", "public_url", "service_url", "resources" ],
                          "type" : "object",
                          "properties" : {
                            "service_sync_type" : {
                              "title" : "Service Sync Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of resource synchronization implementation."
                            },
                            "resource_id" : {
                              "type" : "integer",
                              "description" : "Resource identification number",
                              "title" : "Resource Id"
                            },
                            "permission_names" : {
                              "items" : {
                                "title" : "Permission Name",
                                "type" : "string",
                                "example" : "read",
                                "description" : "Permissions applicable to the service/resource"
                              },
                              "type" : "array",
                              "example" : [ "read", "write" ],
                              "title" : "Permission Names"
                            },
                            "service_name" : {
                              "title" : "Service Name",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Name of the service"
                            },
                            "public_url" : {
                              "title" : "Public Url",
                              "type" : "string",
                              "example" : "http://localhost/twitcher/ows/proxy/thredds",
                              "description" : "Proxy URL available for public access with permissions"
                            },
                            "service_url" : {
                              "title" : "Service Url",
                              "type" : "string",
                              "example" : "http://localhost:9999/thredds",
                              "description" : "Private URL of the service (restricted access)"
                            },
                            "service_type" : {
                              "title" : "Service Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of the service"
                            },
                            "resources" : {
                              "required" : [ "{resource_id}" ],
                              "type" : "object",
                              "properties" : {
                                "{resource_id}" : {
                                  "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                  "type" : "object",
                                  "properties" : {
                                    "resource_name" : {
                                      "title" : "Resource Name",
                                      "type" : "string",
                                      "example" : "thredds",
                                      "description" : "Name of the resource"
                                    },
                                    "resource_display_name" : {
                                      "title" : "Resource Display Name",
                                      "type" : "string",
                                      "example" : "Birdhouse Thredds Data Server",
                                      "description" : "Display name of the resource"
                                    },
                                    "resource_id" : {
                                      "type" : "integer",
                                      "description" : "Resource identification number",
                                      "title" : "Resource Id"
                                    },
                                    "permission_names" : {
                                      "items" : {
                                        "title" : "Permission Name",
                                        "type" : "string",
                                        "example" : "read",
                                        "description" : "Permissions applicable to the service/resource"
                                      },
                                      "type" : "array",
                                      "example" : [ "read", "write" ],
                                      "title" : "Permission Names"
                                    },
                                    "parent_id" : {
                                      "type" : "integer",
                                      "description" : "Parent resource identification number",
                                      "title" : "Parent Id"
                                    },
                                    "root_service_id" : {
                                      "type" : "integer",
                                      "description" : "Resource tree root service identification number",
                                      "title" : "Root Service Id"
                                    },
                                    "children" : {
                                      "required" : [ "{resource_id}" ],
                                      "type" : "object",
                                      "properties" : {
                                        "{resource_id}" : {
                                          "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                          "type" : "object",
                                          "properties" : {
                                            "resource_name" : {
                                              "title" : "Resource Name",
                                              "type" : "string",
                                              "example" : "thredds",
                                              "description" : "Name of the resource"
                                            },
                                            "resource_display_name" : {
                                              "title" : "Resource Display Name",
                                              "type" : "string",
                                              "example" : "Birdhouse Thredds Data Server",
                                              "description" : "Display name of the resource"
                                            },
                                            "resource_id" : {
                                              "type" : "integer",
                                              "description" : "Resource identification number",
                                              "title" : "Resource Id"
                                            },
                                            "permission_names" : {
                                              "items" : {
                                                "title" : "Permission Name",
                                                "type" : "string",
                                                "example" : "read",
                                                "description" : "Permissions applicable to the service/resource"
                                              },
                                              "type" : "array",
                                              "example" : [ "read", "write" ],
                                              "title" : "Permission Names"
                                            },
                                            "parent_id" : {
                                              "type" : "integer",
                                              "description" : "Parent resource identification number",
                                              "title" : "Parent Id"
                                            },
                                            "root_service_id" : {
                                              "type" : "integer",
                                              "description" : "Resource tree root service identification number",
                                              "title" : "Root Service Id"
                                            },
                                            "children" : {
                                              "default" : { },
                                              "type" : "object",
                                              "title" : "Children"
                                            },
                                            "resource_type" : {
                                              "title" : "Resource Type",
                                              "type" : "string",
                                              "example" : "service",
                                              "description" : "Type of the resource"
                                            }
                                          },
                                          "title" : "Id"
                                        }
                                      },
                                      "title" : "Children"
                                    },
                                    "resource_type" : {
                                      "title" : "Resource Type",
                                      "type" : "string",
                                      "example" : "service",
                                      "description" : "Type of the resource"
                                    }
                                  },
                                  "title" : "Id"
                                }
                              },
                              "title" : "Resources"
                            }
                          },
                          "title" : "Ncwms"
                        }
                      },
                      "title" : "Ncwms"
                    }
                  },
                  "title" : "Resources"
                }
              },
              "title" : "GroupResources_GET_ResponseBodySchema"
            }
          },
          "401" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Unauthorized. Insufficient user privileges or missing authentication headers.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url" ],
              "type" : "object",
              "properties" : {
                "request_url" : {
                  "type" : "string",
                  "description" : "Specified url",
                  "title" : "Request Url"
                },
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "type" : "string",
                  "description" : "Specified route",
                  "title" : "Route Name"
                }
              },
              "title" : "UnauthorizedResponseBodySchema"
            }
          },
          "403" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Group query by name refused by db.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url", "method" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "title" : "Route Name",
                  "type" : "string",
                  "example" : "/users/toto",
                  "description" : "Route called that generated the error."
                },
                "request_url" : {
                  "title" : "Request Url",
                  "type" : "string",
                  "example" : "http://localhost:2001/magpie/users/toto",
                  "description" : "Request URL that generated the error."
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "method" : {
                  "title" : "Method",
                  "type" : "string",
                  "example" : "GET",
                  "description" : "Request method that generated the error."
                }
              },
              "title" : "ErrorResponseBodySchema"
            }
          },
          "404" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Group name not found in db.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url", "method" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "title" : "Route Name",
                  "type" : "string",
                  "example" : "/users/toto",
                  "description" : "Route called that generated the error."
                },
                "request_url" : {
                  "title" : "Request Url",
                  "type" : "string",
                  "example" : "http://localhost:2001/magpie/users/toto",
                  "description" : "Request URL that generated the error."
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "method" : {
                  "title" : "Method",
                  "type" : "string",
                  "example" : "GET",
                  "description" : "Request method that generated the error."
                }
              },
              "title" : "ErrorResponseBodySchema"
            }
          },
          "422" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Invalid value specified.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          },
          "500" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Failed to build group resources json tree.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url", "method", "group" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "group" : {
                  "type" : "string",
                  "description" : "Object representation of the group.",
                  "title" : "Group"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "title" : "Route Name",
                  "type" : "string",
                  "example" : "/users/toto",
                  "description" : "Route called that generated the error."
                },
                "request_url" : {
                  "title" : "Request Url",
                  "type" : "string",
                  "example" : "http://localhost:2001/magpie/users/toto",
                  "description" : "Request URL that generated the error."
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "method" : {
                  "title" : "Method",
                  "type" : "string",
                  "example" : "GET",
                  "description" : "Request method that generated the error."
                }
              },
              "title" : "GroupResources_GET_InternalServerErrorResponseBodySchema"
            }
          }
        },
        "summary" : "List all resources a group has permission on."
      }
    },
    "/groups/{group_name}/users" : {
      "parameters" : [ {
        "required" : true,
        "type" : "string",
        "name" : "group_name",
        "in" : "path"
      } ],
      "get" : {
        "produces" : [ "application/json" ],
        "security" : [ {
          "cookieAuth" : [ ]
        } ],
        "tags" : [ "Group" ],
        "responses" : {
          "200" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Get group users successful.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          },
          "401" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Unauthorized. Insufficient user privileges or missing authentication headers.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url" ],
              "type" : "object",
              "properties" : {
                "request_url" : {
                  "type" : "string",
                  "description" : "Specified url",
                  "title" : "Request Url"
                },
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "type" : "string",
                  "description" : "Specified route",
                  "title" : "Route Name"
                }
              },
              "title" : "UnauthorizedResponseBodySchema"
            }
          },
          "403" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Failed to obtain group user names from db.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url", "method" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "title" : "Route Name",
                  "type" : "string",
                  "example" : "/users/toto",
                  "description" : "Route called that generated the error."
                },
                "request_url" : {
                  "title" : "Request Url",
                  "type" : "string",
                  "example" : "http://localhost:2001/magpie/users/toto",
                  "description" : "Request URL that generated the error."
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "method" : {
                  "title" : "Method",
                  "type" : "string",
                  "example" : "GET",
                  "description" : "Request method that generated the error."
                }
              },
              "title" : "ErrorResponseBodySchema"
            }
          },
          "404" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Group name not found in db.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url", "method" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "title" : "Route Name",
                  "type" : "string",
                  "example" : "/users/toto",
                  "description" : "Route called that generated the error."
                },
                "request_url" : {
                  "title" : "Request Url",
                  "type" : "string",
                  "example" : "http://localhost:2001/magpie/users/toto",
                  "description" : "Request URL that generated the error."
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "method" : {
                  "title" : "Method",
                  "type" : "string",
                  "example" : "GET",
                  "description" : "Request method that generated the error."
                }
              },
              "title" : "ErrorResponseBodySchema"
            }
          },
          "422" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Invalid value specified.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          }
        },
        "summary" : "List all user from a group."
      }
    },
    "/groups/{group_name}/resources/types/{resource_type}" : {
      "parameters" : [ {
        "required" : true,
        "type" : "string",
        "name" : "group_name",
        "in" : "path"
      }, {
        "required" : true,
        "type" : "string",
        "name" : "resource_type",
        "in" : "path"
      } ]
    },
    "/resources" : {
      "post" : {
        "responses" : {
          "201" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Create resource successful.",
            "schema" : {
              "required" : [ "code", "type", "detail", "{resource_id}" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "{resource_id}" : {
                  "required" : [ "{resource_id}" ],
                  "type" : "object",
                  "properties" : {
                    "{resource_id}" : {
                      "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                      "type" : "object",
                      "properties" : {
                        "resource_name" : {
                          "title" : "Resource Name",
                          "type" : "string",
                          "example" : "thredds",
                          "description" : "Name of the resource"
                        },
                        "resource_display_name" : {
                          "title" : "Resource Display Name",
                          "type" : "string",
                          "example" : "Birdhouse Thredds Data Server",
                          "description" : "Display name of the resource"
                        },
                        "resource_id" : {
                          "type" : "integer",
                          "description" : "Resource identification number",
                          "title" : "Resource Id"
                        },
                        "permission_names" : {
                          "items" : {
                            "title" : "Permission Name",
                            "type" : "string",
                            "example" : "read",
                            "description" : "Permissions applicable to the service/resource"
                          },
                          "type" : "array",
                          "example" : [ "read", "write" ],
                          "title" : "Permission Names"
                        },
                        "parent_id" : {
                          "type" : "integer",
                          "description" : "Parent resource identification number",
                          "title" : "Parent Id"
                        },
                        "root_service_id" : {
                          "type" : "integer",
                          "description" : "Resource tree root service identification number",
                          "title" : "Root Service Id"
                        },
                        "children" : {
                          "required" : [ "{resource_id}" ],
                          "type" : "object",
                          "properties" : {
                            "{resource_id}" : {
                              "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                              "type" : "object",
                              "properties" : {
                                "resource_name" : {
                                  "title" : "Resource Name",
                                  "type" : "string",
                                  "example" : "thredds",
                                  "description" : "Name of the resource"
                                },
                                "resource_display_name" : {
                                  "title" : "Resource Display Name",
                                  "type" : "string",
                                  "example" : "Birdhouse Thredds Data Server",
                                  "description" : "Display name of the resource"
                                },
                                "resource_id" : {
                                  "type" : "integer",
                                  "description" : "Resource identification number",
                                  "title" : "Resource Id"
                                },
                                "permission_names" : {
                                  "items" : {
                                    "title" : "Permission Name",
                                    "type" : "string",
                                    "example" : "read",
                                    "description" : "Permissions applicable to the service/resource"
                                  },
                                  "type" : "array",
                                  "example" : [ "read", "write" ],
                                  "title" : "Permission Names"
                                },
                                "parent_id" : {
                                  "type" : "integer",
                                  "description" : "Parent resource identification number",
                                  "title" : "Parent Id"
                                },
                                "root_service_id" : {
                                  "type" : "integer",
                                  "description" : "Resource tree root service identification number",
                                  "title" : "Root Service Id"
                                },
                                "children" : {
                                  "default" : { },
                                  "type" : "object",
                                  "title" : "Children"
                                },
                                "resource_type" : {
                                  "title" : "Resource Type",
                                  "type" : "string",
                                  "example" : "service",
                                  "description" : "Type of the resource"
                                }
                              },
                              "title" : "Id"
                            }
                          },
                          "title" : "Children"
                        },
                        "resource_type" : {
                          "title" : "Resource Type",
                          "type" : "string",
                          "example" : "service",
                          "description" : "Type of the resource"
                        }
                      },
                      "title" : "Id"
                    }
                  },
                  "title" : "Resource Id"
                }
              },
              "title" : "Resource_POST_ResponseBodySchema"
            }
          },
          "400" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Invalid [`resource_name`|`resource_type`|`parent_id`] specified for child resource creation.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          },
          "401" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Unauthorized. Insufficient user privileges or missing authentication headers.",
            "schema" : {
              "required" : [ "code", "type", "detail", "route_name", "request_url" ],
              "type" : "object",
              "properties" : {
                "request_url" : {
                  "type" : "string",
                  "description" : "Specified url",
                  "title" : "Request Url"
                },
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "route_name" : {
                  "type" : "string",
                  "description" : "Specified route",
                  "title" : "Route Name"
                }
              },
              "title" : "UnauthorizedResponseBodySchema"
            }
          },
          "403" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Failed to insert new resource in service tree using parent id.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          },
          "404" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Could not find specified resource parent id.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          },
          "409" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Resource name already exists at requested tree level for creation.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          },
          "422" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Invalid value specified.",
            "schema" : {
              "required" : [ "code", "type", "detail" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                }
              },
              "title" : "BaseResponseBodySchema"
            }
          }
        },
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "default" : "application/json",
          "required" : false,
          "type" : "string",
          "example" : "application/json"
        }, {
          "schema" : {
            "required" : [ "resource_name", "resource_type" ],
            "type" : "object",
            "properties" : {
              "parent_id" : {
                "type" : "string",
                "description" : "ID of parent resource under which the new resource should be created",
                "title" : "Parent Id"
              },
              "resource_name" : {
                "type" : "string",
                "description" : "Name of the resource to create",
                "title" : "Resource Name"
              },
              "resource_type" : {
                "type" : "string",
                "description" : "Type of the resource to create",
                "title" : "Resource Type"
              },
              "resource_display_name" : {
                "type" : "string",
                "description" : "Display name of the resource to create, defaults to resource_name.",
                "title" : "Resource Display Name"
              }
            },
            "title" : "Resources_POST_BodySchema"
          },
          "required" : true,
          "name" : "Resources_POST_BodySchema",
          "in" : "body"
        } ],
        "produces" : [ "application/json" ],
        "tags" : [ "Resource" ],
        "summary" : "Register a new resource.",
        "security" : [ {
          "cookieAuth" : [ ]
        } ]
      },
      "get" : {
        "produces" : [ "application/json" ],
        "security" : [ {
          "cookieAuth" : [ ]
        } ],
        "tags" : [ "Resource" ],
        "responses" : {
          "200" : {
            "headers" : {
              "Content-Type" : {
                "default" : "application/json",
                "type" : "string",
                "example" : "application/json",
                "description" : "Content type of the response body."
              }
            },
            "description" : "Get resources successful.",
            "schema" : {
              "required" : [ "code", "type", "detail", "resources" ],
              "type" : "object",
              "properties" : {
                "code" : {
                  "title" : "Code",
                  "type" : "integer",
                  "example" : 200,
                  "description" : "HTTP response code"
                },
                "type" : {
                  "title" : "Type",
                  "type" : "string",
                  "example" : "application/json",
                  "description" : "Response content type"
                },
                "detail" : {
                  "title" : "Detail",
                  "type" : "string",
                  "example" : "Get version successful.",
                  "description" : "Response status message"
                },
                "resources" : {
                  "required" : [ "geoserver-api", "ncwms", "thredds" ],
                  "type" : "object",
                  "properties" : {
                    "geoserver-api" : {
                      "required" : [ "geoserver-api" ],
                      "type" : "object",
                      "properties" : {
                        "geoserver-api" : {
                          "required" : [ "resource_id", "permission_names", "service_name", "service_type", "service_sync_type", "public_url", "service_url", "resources" ],
                          "type" : "object",
                          "properties" : {
                            "service_sync_type" : {
                              "title" : "Service Sync Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of resource synchronization implementation."
                            },
                            "resource_id" : {
                              "type" : "integer",
                              "description" : "Resource identification number",
                              "title" : "Resource Id"
                            },
                            "permission_names" : {
                              "items" : {
                                "title" : "Permission Name",
                                "type" : "string",
                                "example" : "read",
                                "description" : "Permissions applicable to the service/resource"
                              },
                              "type" : "array",
                              "example" : [ "read", "write" ],
                              "title" : "Permission Names"
                            },
                            "service_name" : {
                              "title" : "Service Name",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Name of the service"
                            },
                            "public_url" : {
                              "title" : "Public Url",
                              "type" : "string",
                              "example" : "http://localhost/twitcher/ows/proxy/thredds",
                              "description" : "Proxy URL available for public access with permissions"
                            },
                            "service_url" : {
                              "title" : "Service Url",
                              "type" : "string",
                              "example" : "http://localhost:9999/thredds",
                              "description" : "Private URL of the service (restricted access)"
                            },
                            "service_type" : {
                              "title" : "Service Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of the service"
                            },
                            "resources" : {
                              "required" : [ "{resource_id}" ],
                              "type" : "object",
                              "properties" : {
                                "{resource_id}" : {
                                  "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                  "type" : "object",
                                  "properties" : {
                                    "resource_name" : {
                                      "title" : "Resource Name",
                                      "type" : "string",
                                      "example" : "thredds",
                                      "description" : "Name of the resource"
                                    },
                                    "resource_display_name" : {
                                      "title" : "Resource Display Name",
                                      "type" : "string",
                                      "example" : "Birdhouse Thredds Data Server",
                                      "description" : "Display name of the resource"
                                    },
                                    "resource_id" : {
                                      "type" : "integer",
                                      "description" : "Resource identification number",
                                      "title" : "Resource Id"
                                    },
                                    "permission_names" : {
                                      "items" : {
                                        "title" : "Permission Name",
                                        "type" : "string",
                                        "example" : "read",
                                        "description" : "Permissions applicable to the service/resource"
                                      },
                                      "type" : "array",
                                      "example" : [ "read", "write" ],
                                      "title" : "Permission Names"
                                    },
                                    "parent_id" : {
                                      "type" : "integer",
                                      "description" : "Parent resource identification number",
                                      "title" : "Parent Id"
                                    },
                                    "root_service_id" : {
                                      "type" : "integer",
                                      "description" : "Resource tree root service identification number",
                                      "title" : "Root Service Id"
                                    },
                                    "children" : {
                                      "required" : [ "{resource_id}" ],
                                      "type" : "object",
                                      "properties" : {
                                        "{resource_id}" : {
                                          "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                          "type" : "object",
                                          "properties" : {
                                            "resource_name" : {
                                              "title" : "Resource Name",
                                              "type" : "string",
                                              "example" : "thredds",
                                              "description" : "Name of the resource"
                                            },
                                            "resource_display_name" : {
                                              "title" : "Resource Display Name",
                                              "type" : "string",
                                              "example" : "Birdhouse Thredds Data Server",
                                              "description" : "Display name of the resource"
                                            },
                                            "resource_id" : {
                                              "type" : "integer",
                                              "description" : "Resource identification number",
                                              "title" : "Resource Id"
                                            },
                                            "permission_names" : {
                                              "items" : {
                                                "title" : "Permission Name",
                                                "type" : "string",
                                                "example" : "read",
                                                "description" : "Permissions applicable to the service/resource"
                                              },
                                              "type" : "array",
                                              "example" : [ "read", "write" ],
                                              "title" : "Permission Names"
                                            },
                                            "parent_id" : {
                                              "type" : "integer",
                                              "description" : "Parent resource identification number",
                                              "title" : "Parent Id"
                                            },
                                            "root_service_id" : {
                                              "type" : "integer",
                                              "description" : "Resource tree root service identification number",
                                              "title" : "Root Service Id"
                                            },
                                            "children" : {
                                              "default" : { },
                                              "type" : "object",
                                              "title" : "Children"
                                            },
                                            "resource_type" : {
                                              "title" : "Resource Type",
                                              "type" : "string",
                                              "example" : "service",
                                              "description" : "Type of the resource"
                                            }
                                          },
                                          "title" : "Id"
                                        }
                                      },
                                      "title" : "Children"
                                    },
                                    "resource_type" : {
                                      "title" : "Resource Type",
                                      "type" : "string",
                                      "example" : "service",
                                      "description" : "Type of the resource"
                                    }
                                  },
                                  "title" : "Id"
                                }
                              },
                              "title" : "Resources"
                            }
                          },
                          "title" : "Geoserver Api"
                        }
                      },
                      "title" : "Geoserver Api"
                    },
                    "thredds" : {
                      "required" : [ "thredds" ],
                      "type" : "object",
                      "properties" : {
                        "thredds" : {
                          "required" : [ "resource_id", "permission_names", "service_name", "service_type", "service_sync_type", "public_url", "service_url", "resources" ],
                          "type" : "object",
                          "properties" : {
                            "service_sync_type" : {
                              "title" : "Service Sync Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of resource synchronization implementation."
                            },
                            "resource_id" : {
                              "type" : "integer",
                              "description" : "Resource identification number",
                              "title" : "Resource Id"
                            },
                            "permission_names" : {
                              "items" : {
                                "title" : "Permission Name",
                                "type" : "string",
                                "example" : "read",
                                "description" : "Permissions applicable to the service/resource"
                              },
                              "type" : "array",
                              "example" : [ "read", "write" ],
                              "title" : "Permission Names"
                            },
                            "service_name" : {
                              "title" : "Service Name",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Name of the service"
                            },
                            "public_url" : {
                              "title" : "Public Url",
                              "type" : "string",
                              "example" : "http://localhost/twitcher/ows/proxy/thredds",
                              "description" : "Proxy URL available for public access with permissions"
                            },
                            "service_url" : {
                              "title" : "Service Url",
                              "type" : "string",
                              "example" : "http://localhost:9999/thredds",
                              "description" : "Private URL of the service (restricted access)"
                            },
                            "service_type" : {
                              "title" : "Service Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of the service"
                            },
                            "resources" : {
                              "required" : [ "{resource_id}" ],
                              "type" : "object",
                              "properties" : {
                                "{resource_id}" : {
                                  "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                  "type" : "object",
                                  "properties" : {
                                    "resource_name" : {
                                      "title" : "Resource Name",
                                      "type" : "string",
                                      "example" : "thredds",
                                      "description" : "Name of the resource"
                                    },
                                    "resource_display_name" : {
                                      "title" : "Resource Display Name",
                                      "type" : "string",
                                      "example" : "Birdhouse Thredds Data Server",
                                      "description" : "Display name of the resource"
                                    },
                                    "resource_id" : {
                                      "type" : "integer",
                                      "description" : "Resource identification number",
                                      "title" : "Resource Id"
                                    },
                                    "permission_names" : {
                                      "items" : {
                                        "title" : "Permission Name",
                                        "type" : "string",
                                        "example" : "read",
                                        "description" : "Permissions applicable to the service/resource"
                                      },
                                      "type" : "array",
                                      "example" : [ "read", "write" ],
                                      "title" : "Permission Names"
                                    },
                                    "parent_id" : {
                                      "type" : "integer",
                                      "description" : "Parent resource identification number",
                                      "title" : "Parent Id"
                                    },
                                    "root_service_id" : {
                                      "type" : "integer",
                                      "description" : "Resource tree root service identification number",
                                      "title" : "Root Service Id"
                                    },
                                    "children" : {
                                      "required" : [ "{resource_id}" ],
                                      "type" : "object",
                                      "properties" : {
                                        "{resource_id}" : {
                                          "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                          "type" : "object",
                                          "properties" : {
                                            "resource_name" : {
                                              "title" : "Resource Name",
                                              "type" : "string",
                                              "example" : "thredds",
                                              "description" : "Name of the resource"
                                            },
                                            "resource_display_name" : {
                                              "title" : "Resource Display Name",
                                              "type" : "string",
                                              "example" : "Birdhouse Thredds Data Server",
                                              "description" : "Display name of the resource"
                                            },
                                            "resource_id" : {
                                              "type" : "integer",
                                              "description" : "Resource identification number",
                                              "title" : "Resource Id"
                                            },
                                            "permission_names" : {
                                              "items" : {
                                                "title" : "Permission Name",
                                                "type" : "string",
                                                "example" : "read",
                                                "description" : "Permissions applicable to the service/resource"
                                              },
                                              "type" : "array",
                                              "example" : [ "read", "write" ],
                                              "title" : "Permission Names"
                                            },
                                            "parent_id" : {
                                              "type" : "integer",
                                              "description" : "Parent resource identification number",
                                              "title" : "Parent Id"
                                            },
                                            "root_service_id" : {
                                              "type" : "integer",
                                              "description" : "Resource tree root service identification number",
                                              "title" : "Root Service Id"
                                            },
                                            "children" : {
                                              "default" : { },
                                              "type" : "object",
                                              "title" : "Children"
                                            },
                                            "resource_type" : {
                                              "title" : "Resource Type",
                                              "type" : "string",
                                              "example" : "service",
                                              "description" : "Type of the resource"
                                            }
                                          },
                                          "title" : "Id"
                                        }
                                      },
                                      "title" : "Children"
                                    },
                                    "resource_type" : {
                                      "title" : "Resource Type",
                                      "type" : "string",
                                      "example" : "service",
                                      "description" : "Type of the resource"
                                    }
                                  },
                                  "title" : "Id"
                                }
                              },
                              "title" : "Resources"
                            }
                          },
                          "title" : "Thredds"
                        }
                      },
                      "title" : "Thredds"
                    },
                    "ncwms" : {
                      "required" : [ "ncwms" ],
                      "type" : "object",
                      "properties" : {
                        "ncwms" : {
                          "required" : [ "resource_id", "permission_names", "service_name", "service_type", "service_sync_type", "public_url", "service_url", "resources" ],
                          "type" : "object",
                          "properties" : {
                            "service_sync_type" : {
                              "title" : "Service Sync Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of resource synchronization implementation."
                            },
                            "resource_id" : {
                              "type" : "integer",
                              "description" : "Resource identification number",
                              "title" : "Resource Id"
                            },
                            "permission_names" : {
                              "items" : {
                                "title" : "Permission Name",
                                "type" : "string",
                                "example" : "read",
                                "description" : "Permissions applicable to the service/resource"
                              },
                              "type" : "array",
                              "example" : [ "read", "write" ],
                              "title" : "Permission Names"
                            },
                            "service_name" : {
                              "title" : "Service Name",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Name of the service"
                            },
                            "public_url" : {
                              "title" : "Public Url",
                              "type" : "string",
                              "example" : "http://localhost/twitcher/ows/proxy/thredds",
                              "description" : "Proxy URL available for public access with permissions"
                            },
                            "service_url" : {
                              "title" : "Service Url",
                              "type" : "string",
                              "example" : "http://localhost:9999/thredds",
                              "description" : "Private URL of the service (restricted access)"
                            },
                            "service_type" : {
                              "title" : "Service Type",
                              "type" : "string",
                              "example" : "thredds",
                              "description" : "Type of the service"
                            },
                            "resources" : {
                              "required" : [ "{resource_id}" ],
                              "type" : "object",
                              "properties" : {
                                "{resource_id}" : {
                                  "required" : [ "resource_id", "resource_name", "resource_display_name", "resource_type", "children" ],
                                  "type" : "object",
                                  "properties" : {
                                    "resource_name" : {
                                      "title" : "Resource Name",
                                      "type" : "string",
                                      "example" : "thredds",
                                      "description" : "Name of the resource"
                                    },
                                    "resource_display_name" : {
                                      "title" : "Resource Display Name",
                                      "type" : "string",
                                      "example" : "Birdhouse Thredds Data Server",
                                      "description" : "Display name of the resource"
                                    },
                                    "resource_id" : {
                                      "type" : "integer",
                                      "description" : "Resource identification number",
                                      "title" : "Resource Id"
                                    },
                                    "permission_names" : {
                                      "items" : {
                                        "title" : "Permission Name",
                                        "type" : "string",
[...]
